* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#water-img {
  position: absolute;
  width: 2000px;
  left: -450px;
  top: -580px;
  z-index: -10;
  opacity: 0.2;
}

.p-color {
  color: #4c9540;
}

.bg-color {
  background-color: #4c9540;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #4c9540;
  overflow-x: hidden;
}

#contianer {
  padding-left: 70px;
  padding-right: 70px;
}

.navbar {
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2) !important;
}

#logo {
  width: 450px;
  margin-left: 150px;
}

.btn-connect {
  margin-left: 200px;
  background-color: transparent;
  color: white;
  border-radius: 50px;
  width: 280px;
  padding: 12px;
  border: 1px solid white;
  font-size: 20px;
  font-weight: bold;
  top: 45px;
  position: relative;
  transition: 0.3s;
}
.btn-connect:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.title img {
  width: 550px;
}

.text-20 {
  font-size: 22px;
  color: white;
  font-weight: bold;
}

.contract-address .add-coincap .img-hold {
  margin-left: 20px;
}
.contract-address .add-coincap .img-hold img {
  width: 40px;
  border-radius: 50%;
  transition: 0.3s;
}
.contract-address .add-coincap .img-hold img:hover {
  box-shadow: 0px 0px 10px white;
}
.contract-address .address-copy {
  margin-top: 5px;
  margin-top: 20px;
}
.contract-address .address-copy #address {
  font-size: 20px;
  font-weight: 600;
}
.contract-address .address-copy button {
  border: none;
  background-color: transparent;
  margin-left: 8px;
}

#col2-img {
  width: 400px;
  margin-top: 200px;
}

.seacure {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1.5px solid white;
  padding: 10px 15px;
  width: 350px;
  border-radius: 15px;
  margin-top: 20px;
}
.seacure #title {
  width: 200px;
}
.seacure #seacure {
  border-radius: 50%;
  width: 65px;
  height: 67px;
  margin-left: 25px;
  margin-top: 7px;
}
.seacure a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  font-weight: 600;
}
.seacure a span {
  margin-left: 15px;
  position: relative;
  top: -10px;
}

.btn-holder .btn-buy {
  background-color: transparent;
  color: white;
  border-radius: 50px;
  width: 280px;
  padding: 12px;
  border: 1px solid white;
  font-size: 20px;
  font-weight: bold;
  top: 45px;
  position: relative;
  transition: 0.3s;
}
.btn-holder .btn-buy:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.btn-holder a:nth-child(3) {
  position: relative;
  top: 20px;
}

#line {
  margin-top: 110px;
  width: 100%;
}

@media screen and (max-width: 800px) {
  #water-img {
    display: none;
  }
  #contianer {
    padding-left: 20px;
    padding-right: 20px;
  }
  #logo {
    width: 200px;
    margin-left: 0px;
    scale: 0.8;
  }
  .btn-connect {
    scale: 0.7;
    width: 200px;
    top: 20px;
    position: absolute;
    right: 10px;
  }
  .title {
    text-align: center;
  }
  .title img {
    margin-top: 40px;
    width: 350px;
  }
  .text-20 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
  }
  .contract-address .add-coincap {
    text-align: center;
  }
  .contract-address .add-coincap .img-hold {
    width: 50px;
  }
  .address-copy #address {
    font-size: 18px;
  }
}/*# sourceMappingURL=style.css.map */