*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #4c9540;
    overflow-x: hidden;
}

@mixin btn{
    background-color: transparent;
    color: white;
    border-radius:50px;
    width: 280px;
    padding: 12px;
    border:1px solid white;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    transition: 0.3s;
    text-decoration: none;
    text-align: center;
    &:hover{
        background-color: rgba(255, 255, 255,0.2);
    }
}

.nav{
    position: relative;
    width: 100%;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0,0.3);

    .container{
        padding-left: 150px !important;
        padding-right: 150px !important;
        display: flex;
      align-items: center;
      position: relative;

        #logo{
            width: 450px;
        }

        a{
            @include btn();
            position: absolute;
            right: 250px;
        }
    }

   
}