*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #4c9540;
    overflow-x: hidden;
}

.con{
    padding-left: 140px !important;
    padding-right: 140px !important;
    position: relative;
}

@mixin btn{
    background-color: transparent;
    color: white;
    border-radius:50px;
    width: 280px;
    padding: 11px;
    border:1px solid white;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    transition: 0.3s;
    text-decoration: none;
    text-align: center;
    &:hover{
        background-color: rgba(255, 255, 255,0.2);
    }
}

.nav{
    background-color: #4c9540;
    position: relative;
    width: 100%;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0,0.3);
    overflow-x: hidden;

    .container{
        padding-left: 150px !important;
        padding-right: 150px !important;
        display: flex;
      align-items: center;
      position: relative;

        #logo{
            width: 450px;
        }

        a{
            @include btn();
            position: absolute;
            right: 250px;
        }
    }

   
}

.hero-section{

    #watermark{
width: 2000px;
position: absolute;
left: -400px;
top: -500px;
z-index: -10;
opacity: 0.2;
    }
#hero-title{
    width: 520px;
}
#auto-write{
    font-size: 23px;
    font-weight: bold;
}

.contract-box{
    margin-top: 20px;
    .address-title{
        margin-top: 10px;
        .h3{
            font-size: 28px;
            font-weight:500 ;
        }
    }

    #coinmarket{
        width: 40px;
        height: 40px;
        border-radius: 50px;
        margin-left: 20px;
        margin-top: 5px;
    }
}

.address-clip{
    margin-top: 20px;
    input{
        border: none;
        background-color: transparent;
        font-size: 20px;
        width: 460px;
        font-weight: 600;
        outline: none;
    }
    button{
        border: none;
        background-color: transparent;
    }
}

.box{
    background-color: rgba(0, 0, 0,0.4);
    border:2px solid rgba(255, 255, 255, 0.5);
    width: 330px;
    border-radius: 15px;
    padding: 4px;
display: flex;
align-items: center;
margin-top: 30px;

    .sub{
        img{
            width: 150px;
            height: 50px;
            position: relative;
            left: 20px;
            top:-5px;
        }
        span{
            font-size: 16px;
            font-weight: bold;
            color: rgba(255, 255, 255,0.5);
            position: relative;
            left: 30px;
            top: -12px;
        }
    }

    #secure{
        border-radius: 50px;
        width: 64px;
        height: 67px;
        margin-left: 70px;
    }



}

.btn-holder{
    margin-top: 50px;
    a{
        button{
            @include btn();
        
    
        }
       
    }
}

}

#img-col2{
    width: 430px;
    margin-top: 180px;
}

@media screen and (max-width:800px){
  .nav{
        .container{
            padding-left: 20px !important;
            padding-right: 20px !important;

            #logo{
                width: 180px;
                position: relative;
                left: -20px;
                scale: 0.9;
            }

            a{
                font-size: 16px;
                scale: 0.7;
                right: 0;
                width: 170px;
            }
        }
    }

    .con{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .hero-section{
        text-align: center;
        margin-top: 30px;
        #hero-title{
            width: 300px;
        }
        #auto-write{
            font-size: 16px;
        }

    .contract-box{
        .address-title{
            .h3{
                font-size: 23px;
            }
        }
    }

    .address-clip{
        input{
            font-size: 14px;
        }
    }
    }
    .btn-holder{
        margin-top: 20px;
    }

    .box{
        position: relative;
        left: calc(50% - 165px);

    }

    #img-col2{
        position: relative;
        width: 430px;
        left: calc(50% - 215px);
        scale: 0.8;
        margin-top: 60px;
    }
}