*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #4c9540;
    overflow-x: hidden;
}

.con{
    padding-left: 140px !important;
    padding-right: 140px !important;
    position: relative;
}

@mixin btn{
    background-color: transparent;
    color: white;
    border-radius:50px;
    width: 280px;
    padding: 11px;
    border:1px solid white;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    transition: 0.3s;
    text-decoration: none;
    text-align: center;
    &:hover{
        background-color: rgba(255, 255, 255,0.2);
    }
}

.nav{
    background-color: #4c9540;
    position: relative;
    width: 100%;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0,0.3);
    overflow-x: hidden;

    .container{
        padding-left: 150px !important;
        padding-right: 150px !important;
        display: flex;
      align-items: center;
      position: relative;

        #logo{
            width: 450px;
        }

        a{
            @include btn();
            position: absolute;
            right: 250px;
        }
    }

   
}

.hero-section{
    overflow-x: hidden;

    #watermark{
width: 2000px;
position: absolute;
left: -400px;
top: -550px;
z-index: -10;
opacity: 0.2;
    }
#hero-title{
    width: 520px;
}
#auto-write{
    font-size: 23px;
    font-weight: bold;
}

.contract-box{
    margin-top: 20px;
    align-items: center;
    
    .address-title{
        margin-top: 10px;
        
        .h3{
            overflow: hidden;
            font-size: 28px;
            font-weight:500 ;
        }
    }

    #coinmarket{
        width: 40px;
        height: 40px;
        border-radius: 50px;
        margin-left: 20px;
        margin-top: 5px;
    }
}

.address-clip{
    margin-top: 20px;
    input{
        border: none;
        background-color: transparent;
        font-size: 20px;
        width: 460px;
        font-weight: 600;
        outline: none;
    }
    button{
        border: none;
        background-color: transparent;
    }
}

.box{
    background-color: rgba(0, 0, 0,0.4);
    border:2px solid rgba(255, 255, 255, 0.5);
    width: 330px;
    border-radius: 15px;
    padding: 4px;
display: flex;
align-items: center;
margin-top: 30px;

    .sub{
        img{
            width: 150px;
            height: 50px;
            position: relative;
            left: 20px;
            top:-5px;
        }
        span{
            font-size: 16px;
            font-weight: bold;
            color: rgba(255, 255, 255,0.5);
            position: relative;
            left: 30px;
            top: -12px;
        }
    }

    #secure{
        border-radius: 50px;
        width: 64px;
        height: 67px;
        margin-left: 70px;
    }



}

.btn-holder{
    margin-top: 50px;
    a{
        button{
            @include btn();
        
    
        }
       
    }
}

}

#img-col2{
    width: 330px;
    margin-top: 195px;
}


.god-abeg{
    overflow-x: hidden;

    .card{
        background-color: rgba(0, 0, 0,0.4) !important;
        border-radius: 40px !important;
        border: 2px solid white;
        box-shadow: 0px 0px 20px white;
        position: relative;
        .h2{
            img{
                width: 250px;
            }
        }

        table{
            margin-top: 10px;
            thead{
                tr{
                    text-align: center;
                    th{
                        font-size: 18px;
                        color: white;
                        
                    }
                }
            }

            tbody{
                tr{
                    text-align: center;
                    td{
                        margin-top: 40px;
                        font-size: 16px;
                        color: white;
                        font-weight: 700;
                    }
                }
            }
        }
    }

    #game{
position: absolute;
width: 600px;
position: relative;
padding: 20px;
top: 0;
left: calc(50% - 300px);
border-radius: 30px;
    }
}

.fly{
    #fly-img{
        width: 500px;
    }
    .text{
        color: rgba(0, 0, 0,0.5);
        font-size: 18px;
        font-weight: bold;
        margin-top: 150px;
        line-height: 30px;
    }
}

.leaderboard{
    margin-top: 100px;
    .title{
        img{
            width: 390px;
        }
    }
    #pee{
        margin-top: 50px;
        width: 500px;
    }

    .card{
        background-color: rgba(0, 0, 0,0.6);
        border: 2px solid white;
        box-shadow: 0px 0px 15px white;
        border-radius: 25px;
        
        
        table{
            margin-top: 10px;
            thead{
                tr{
                    text-align: center;
                    th{
                        font-size: 18px;
                        color: white;
                        
                    }
                }
            }

            tbody{
                tr{
                    text-align: center;
                    td{
                        margin-top: 40px;
                        font-size: 16px;
                        color: white;
                        font-weight: 700;
                    img{
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                    }
                    }
                }
            }
        }

        a{
            position: relative;
top: -20px;
            button{
            @include btn();
            width: 100%;
            font-size: 20px;
            }
        }
    }
}

.supply{
    margin-top: 60px;
    .title{
        overflow: hidden;
        img{
            width: 180px;
        }
    }
    .h3{
        overflow: hidden;
        color: rgba(0, 0, 0,0.5);
        font-weight: bold;
    }

    .sup{
        position: relative;
        font-size: 20px;
       
        span{
           position: absolute;
           right: 5px;
           font-weight: bold;
        }
    }

    #chart{
        position: relative;
        width: 400px;
        left: calc(50% - 200px);
    }
}

.roadmap{
    .title{
        margin-top: 30px;
        img{
            width: 250px;
        }
    }

    .road{
        border-bottom: 5px solid rgba(255, 255, 255,0.4);
        img{
            width: 200px;
        }
    }

    .card{
        border: 2px solid white;
        box-shadow: 0px 0px 20px white;
        background-color: rgba(0, 0, 0,0.5);
        margin-top: 50px;
        border-radius: 30px;

        .h3{
            overflow: hidden;
            padding: 12px;
            color: white;
            font-weight: bolder;
            background-color:rgba(255, 255, 255, 0.2);
            width: 40%;
        }
    }
}


@media screen and (max-width:800px){
  .nav{
        .container{
            padding-left: 20px !important;
            padding-right: 20px !important;

            #logo{
                width: 180px;
                position: relative;
                left: -20px;
                scale: 0.9;
            }

            a{
                font-size: 16px;
                scale: 0.7;
                right: 0;
                width: 170px;
            }
        }
    }

    .con{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .hero-section{

        .address-clip{
            align-items: center;
            input{
                width: 90%;
                
            }
        }
        text-align: center;
        margin-top: 30px;
        #hero-title{
            width: 300px;
        }
        #auto-write{
            font-size: 16px;
        }

    .contract-box{
        .address-title{
            .h3{
                font-size: 23px;
            }
        }
    }

    .address-clip{
        input{
            font-size: 14px;
        }
    }
    }
    .btn-holder{
        margin-top: 20px;
    }

    .box{
        position: relative;
        left: calc(50% - 165px);

    }


    #img-col2{
        position: relative;
        width: 380px;
        left: calc(50% - 190px);
        margin-top: 60px;
        scale: 0.8;
    }

    .god-abeg{
        .card{
            background-color: transparent !important;
            border:none;
            box-shadow: none;
        }

        #game{
        width: 380px;
        left: calc(50% - 190px);
        }
    }

    .fly{
        #fly-img{
            margin-top: 20px;
            position: relative;
            width: 320px;
            left: calc(50% - 160px);
        }
        .text{
            color: rgba(255, 255, 255,0.6);
            margin-top: 30px;
            text-align: center;
            font-size: 16px;
            line-height: 20px;
            b{
                color: rgba(255, 255, 255,0.6) !important;
            }
        }
    }

    .leaderboard{
        margin-top: 50px;
        .title{
            img{
                width: 300px;
            }
        }
        #pee{
            width: 320px;
        }
        .card{
            position: relative;
            padding: 10px !important;
            height: 520px;
            table{
                position: relative;
                scale: 0.8;
                width: 100%;
                top: -40px;
                tbody{
                    tr{
                        td{
                            font-size: 14px;
                        }
                    }
                }
            }

            a{
                position: absolute;
               top:400px;
                width: 100%;
                left: calc(50% - 50%);
                button{
                    width: 90%;
                    position: relative;
                    left: calc(50% - 45%);
                    padding: 10px;
                    font-size: 14px;
                }
            }
       
        }
    }

    .supply{
        .title{
            margin-top: 20px;
            img{
                width: 150px;
               position: relative;
               left: calc(50% - 75px);
            }
        }
        .h3{
            text-align: center;
        }

        .sup{
            scale: 1;
            width: 100%;
            font-size: 14px;
            align-items: center;

            img{
                width: 30px;
                height: 17px;
            }

            b{
                color: rgba(0, 0, 0,0.5);
            }
        }

        #chart{
            width: 300px;
            left: calc(50% - 150px);
        }
    }
}